<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CP5I.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA3D83141F67C56E00EF07DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA3D83281F67C56E00EF07DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA3D83331F67C56E00EF07DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
